body {
    margin: 0;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
}

#ui-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Let clicks pass through */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#score-board {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 20px;
    border-radius: 0 0 20px 0;
    display: inline-block;
    width: fit-content;
}

h2 { margin: 0; color: #f1c40f; text-shadow: 2px 2px 0px #000; }
p { margin: 5px 0 0 0; font-size: 1.2rem; color: #00ffcc; }

#controls-hint {
    text-align: center;
    color: white;
    font-weight: bold;
    padding-bottom: 20px;
    text-shadow: 1px 1px 2px black;
    opacity: 0.7;
}
